{% for driver in drivers %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.contact }}</td>
        <td>{{ driver.address }}</td>
        <td>
            {% if driver.image %}
                <img src="{{ driver.image.url }}"
                     alt="" width="80"/>
            {% endif %}
        </td>
{#            <td>{{ driver.rating }}</td>#}
        <td>{{ driver.Is_View_on_Web }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-view-driver"
                    data-url="{% url 'driver_view' driver.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span> View
            </button>
            <a href="{% url 'driver_update' driver.pk %}" class="btn btn-info btn-sm">
                <span class="fa fa-pencil-square-o"></span> Edit</a>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-driver"
                    data-url="{% url 'driver_delete' driver.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="10" class="text-center bg-warning">No Driver</td>
    </tr>
{% endfor %}
