<html>

<head>
<title> Error Page </title>
</head>

<body>

    Somethign went wrong .Please try again.

    Go back to home page.


</body>

</html>



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta charset="ISO-8859-15">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="cache-control" content="no-store" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="pragma" content="no-store" />


        <title>Income Report | Global - Multi School Management System Express</title>
                    <link rel="icon" href="http://codetroopers-team.com/gmsms/assets/uploads//logo/1567888028-favicon-icon.png" type="image/x-icon" />


        <!-- Bootstrap -->
        <link href="http://codetroopers-team.com/gmsms/assets/vendors/bootstrap/bootstrap.min.css" rel="stylesheet">

<!--    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">-->
        <!-- Font Awesome -->
        <link href="http://codetroopers-team.com/gmsms/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom Theme Style -->
                     <link href="http://codetroopers-team.com/gmsms/assets/css/custom.css" rel="stylesheet">

                    <link href="http://codetroopers-team.com/gmsms/assets/css/theme/jazzberry-jam.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="http://codetroopers-team.com/gmsms/assets/js/jquery-1.11.2.min.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/js/jquery.validate.js"></script>

         <script type="text/javascript" src="http://codetroopers-team.com/gmsms/assets/vendors/toastr/toastr.min.js"></script>


            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115879658-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-115879658-1');
            </script>

    </head>

    <body class="nav-md">
        <div id="preloader"></div>

        <div class="container body">
            <div class="main_container">
                 <div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="http://codetroopers-team.com/gmsms/dashboard">
                                    <span >
                        SCHOOL MANAGEMENT                    </span>


                                     <img class="logo" src="http://codetroopers-team.com/gmsms/assets/uploads/logo/1567887984-brand-logo.png" style="max-width: 65px;" alt="">
                            </a>
        </div>
        <div class="clearfix" style=""></div>
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">

                <ul class="nav side-menu">
                    <li><a href="http://codetroopers-team.com/gmsms/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>  </li>



                                                <li><a  href="http://codetroopers-team.com/gmsms/theme"><i class="fa fa-cubes"></i> Theme</a></li>


                                            <li><a  href="http://codetroopers-team.com/gmsms/language"><i class="fa fa-language"></i> Language</a></li>


                        <li><a><i class="fa fa-user"></i> Administrator <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/setting"> General Setting</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/school"> Manage School</a></li>

                                <li><a href="http://codetroopers-team.com/gmsms/administrator/payment">Payment Setting</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/sms">SMS Setting</a></li>

                                                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/emailsetting">Email Setting</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/year"> Academic Year</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/role"> User Role (ACL)</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/permission">Role Permission (ACL)</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/superadmin"> Manage Super Admin</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/user/index">Manage User</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/password">Reset User Password</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/usercredential/index">User Credential</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/activitylog">Activity Log</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/feedback">Publish Guardian Feedback</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/backup">Backup Database</a></li>

                            </ul>
                        </li>



                        <li><a><i class="fa fa-tags"></i> Template <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/smstemplate">SMS Template</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/administrator/emailtemplate">Email Template</a></li>

                            </ul>
                        </li>



                        <li><a><i class="fa fa-tty"></i> Front Office <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">

                                    <li><a href="http://codetroopers-team.com/gmsms/frontoffice/purpose/index">Visitor Purpose</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/frontoffice/visitor/index">Visitor Info</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/frontoffice/calllog/index">Call Log</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/frontoffice/dispatch/index">Postal Dispatch</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/frontoffice/receive/index">Postal Receive</a></li>

                            </ul>
                        </li>



                    <li><a><i class="fa fa-user-md"></i>  Human Resource <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">

                                <li><a href="http://codetroopers-team.com/gmsms/hrm/designation">Manage Designation</a></li>

                                <li><a href="http://codetroopers-team.com/gmsms/hrm/employee">Manage Employee</a></li>
                                                    </ul>
                    </li>


                                            <li><a><i class="fa fa-bell-o"></i> Leave <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">

                                    <li><a href="http://codetroopers-team.com/gmsms/leave/type/index">Leave Type</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/leave/application/index">Leave Application </a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/leave/waiting/index">Waiting Application</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/leave/approve/index">Approved Application</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/leave/decline/index">Declined Application</a></li>
                                                            </ul>
                        </li>



                                            <li><a href="http://codetroopers-team.com/gmsms/teacher"><i class="fa fa-users"></i> Teacher</a> </li>

                                            <li><a href="http://codetroopers-team.com/gmsms/academic/classes/index"><i class="fa fa-slideshare"></i> Class</a> </li>

                                                                        <li><a  href="http://codetroopers-team.com/gmsms/academic/section/index/"><i class="fa fa-bars"></i> Section </a></li>



                                                    <li><a  href="http://codetroopers-team.com/gmsms/academic/subject/index/"><i class="fa fa-folder-open"></i> Subject </a></li>



                                                    <li><a  href="http://codetroopers-team.com/gmsms/academic/syllabus/index/"><i class="fa fa-clipboard"></i> Syllabus</a> </li>



                                                    <li><a  href="http://codetroopers-team.com/gmsms/academic/material/index/"><i class="fa fa-file-text-o"></i> Material</a> </li>


                                                                        <li> <a  href="http://codetroopers-team.com/gmsms/academic/routine/index/"> <i class="fa fa-clock-o"></i> Class Routine</a></li>


                        <li><a href="http://codetroopers-team.com/gmsms/guardian/index/"><i class="fa fa-paw"></i> Guardian</a> </li>





                           <li><a><i class="fa fa-group"></i> Student <span class="fa fa-chevron-down"></span></a>
                               <ul class="nav child_menu">
                                                                            <li><a href="http://codetroopers-team.com/gmsms/student/type/index"> Student Type</a></li>

                                                                            <li><a href="http://codetroopers-team.com/gmsms/student/index"> Manage Student</a></li>

                                                                            <li><a href="http://codetroopers-team.com/gmsms/student/add/"> Admit Student</a></li>

                                                                             <li><a href="http://codetroopers-team.com/gmsms/student/bulk/add"> Bulk Admission</a></li>

                                                                             <li><a href="http://codetroopers-team.com/gmsms/student/admission/index"> Online Admission</a></li>

                                                                          <li><a href="http://codetroopers-team.com/gmsms/student/activity/index"> Student Activity</a></li>

                               </ul>
                           </li>




                        <li><a><i class="fa fa-barcode"></i> Generate Card<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                    <li><a href="http://codetroopers-team.com/gmsms/card/idsetting/index">ID Card Setting</a></li>
                                                                                                     <li><a href="http://codetroopers-team.com/gmsms/card/admitsetting/index">Admit Card Setting</a></li>



                                                                    <li><a href="http://codetroopers-team.com/gmsms/card/teacher/index">Teacher ID Card</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/card/employee/index">Employee ID Card</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/card/student/index">Student ID Card</a></li>


                                    <li><a href="http://codetroopers-team.com/gmsms/card/admit/index">Student Admit Card</a></li>

                            </ul>
                        </li>



                        <li><a><i class="fa fa-check-circle-o"></i> Attendance <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">


                                        <li><a href="http://codetroopers-team.com/gmsms/attendance/student">Student Attendance</a></li>

                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/attendance/teacher">Teacher Attendance</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/attendance/employee">Employee Attendance</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/attendance/absentemail/index/">Absent Email</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/attendance/absentsms/index/">Absent SMS</a></li>

                            </ul>
                        </li>


                                                    <li>  <a href="http://codetroopers-team.com/gmsms/assignment/index/"><i class="fa fa-file-word-o"></i> Assignment</a></li>


                        <li><a><i class="fa fa-graduation-cap"></i> Exam <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/grade/">Exam Grade</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/index">Exam Term</a></li>

                            </ul>
                        </li>


                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/schedule/index/"><i class="fa fa-thumb-tack"></i>Exam Schedule</a></li>




                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/suggestion/index/"><i class="fa fa-file-text"></i>Exam Suggestion</a></li>



                                            <li><a  href="http://codetroopers-team.com/gmsms/exam/attendance/"><i class="fa fa-check"></i> Exam Attendance</a></li>



                        <li><a><i class="fa fa-file-text-o"></i> Exam Mark <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/mark/index">Manage Mark</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/examresult/index">Exam Term Result</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/finalresult/index">Exam final result</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/meritlist/index">Exam Merit List</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/marksheet/index">Student Mark Sheet</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/resultcard/index">Student Result Card</a></li>

                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/mail/index">Mark send by Email</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/exam/text/index">Mark send by SMS</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/exam/resultemail/index">Result Email</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/exam/resultsms/index">Result SMS</a></li>

                            </ul>
                        </li>

                                            <li><a href="http://codetroopers-team.com/gmsms/academic/promotion"><i class="fa fa-mail-forward"></i>Promotion</a></li>

                                        <li><a><i class="fa fa-certificate"></i> Certificate <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                                                            <li><a href="http://codetroopers-team.com/gmsms/certificate/type">Certificate Type</a></li>
                                                                                        <li><a href="http://codetroopers-team.com/gmsms/certificate/index">Generate Certificate</a></li>

                        </ul>
                    </li>


                        <li><a><i class="fa fa-book"></i> Library <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                    <li><a href="http://codetroopers-team.com/gmsms/library/book/index/">Book</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/library/member/index/">Library Member</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/library/issue/index">Issue & Return</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/library/ebook/index">E-Book</a></li>
                                                            </ul>
                        </li>


                        <li><a><i class="fa fa-bus"></i> Transport <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                    <li><a href="http://codetroopers-team.com/gmsms/transport/vehicle/index/">Vehicle</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/transport/route/index/">Manage Route</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/transport/member/index/">Transport Member</a></li>
                                                            </ul>
                        </li>


                        <li><a><i class="fa fa-hotel"></i> Hostel <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                    <li><a href="http://codetroopers-team.com/gmsms/hostel/index/">Manage Hostel</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/hostel/room/index/">Manage Room</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/hostel/member/index/">Hostel Member</a></li>
                                                            </ul>
                        </li>


                        <li><a href="http://codetroopers-team.com/gmsms/message/inbox"><i class="fa fa-comments-o"></i> Message</a></li>

                                            <li><a><i class="fa fa-envelope-o"></i> Mail & SMS <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">

                                    <li><a href="http://codetroopers-team.com/gmsms/message/mail/index/">General Email</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/message/text/index/">General SMS</a></li>
                                                            </ul>
                        </li>


                                            <li><a><i class="fa fa-commenting"></i> Complain <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">

                                    <li><a href="http://codetroopers-team.com/gmsms/complain/type/index/">Complain Type</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/complain/index/">Complain </a></li>
                                                            </ul>
                        </li>



                        <li><a><i class="fa fa-bullhorn"></i> Announcement <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                    <li><a href="http://codetroopers-team.com/gmsms/announcement/notice/index/">Notice</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/announcement/news/index/">News</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/announcement/holiday/index/">Holiday</a></li>
                                                            </ul>
                        </li>


                        <li><a href="http://codetroopers-team.com/gmsms/event/index/"><i class="fa fa fa-calendar-check-o"></i> Event</a></li>

                                            <li><a><i class="fa fa-dollar"></i> Payroll <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">

                                    <li><a href="http://codetroopers-team.com/gmsms/payroll/grade/index">Salary Grade</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/payroll/payment/index"> Salary Payment</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/payroll/history/index"> Payment History</a></li>
                                                            </ul>
                        </li>




                        <li><a><i class="fa fa-calculator"></i> Accounting <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                                                   <li><a href="http://codetroopers-team.com/gmsms/accounting/discount">Discount</a></li>
                                                                                                   <li><a href="http://codetroopers-team.com/gmsms/accounting/feetype"> Fee Type</a></li>


                                                                            <li><a href="http://codetroopers-team.com/gmsms/accounting/invoice/add">Fee Collection</a></li>
                                        <li><a href="http://codetroopers-team.com/gmsms/accounting/invoice/index">Manage Invoice</a></li>
                                        <li><a href="http://codetroopers-team.com/gmsms/accounting/invoice/due">Due Fee</a></li>



                                    <li><a href="http://codetroopers-team.com/gmsms/accounting/duefeeemail/index/">Due Fee Email</a></li>

                                    <li><a href="http://codetroopers-team.com/gmsms/accounting/duefeesms/index/">Due Fee SMS</a></li>

                                                                    <li><a href="http://codetroopers-team.com/gmsms/accounting/incomehead">Income Head</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/accounting/income">Income</a></li>

                                                                    <li><a href="http://codetroopers-team.com/gmsms/accounting/exphead">Expenditure Head</a></li>
                                                                                                    <li><a href="http://codetroopers-team.com/gmsms/accounting/expenditure">Expenditure</a></li>

                            </ul>
                        </li>

                                            <li><a><i class="fa fa-bar-chart"></i> Report <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="http://codetroopers-team.com/gmsms/report/income">Income Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/expenditure">Expenditure Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/invoice">Invoice Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/duefee">Due Fee Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/feecollection">Fee Collection Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/balance">Accounting Balance Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/library">Library Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/sattendance">Student Attendance</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/syattendance">Student Yearly Attendance</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/tattendance">Teacher Attendance</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/tyattendance">Teacher Yearly Attendance</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/eattendance">Employee Attendance</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/eyattendance">Employee Yearly Attendance</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/student">Student Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/sinvoice">Student Invoice Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/sactivity">Student Activity Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/payroll">Payroll Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/transaction">Daily Transaction Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/statement">Daily Statement Report</a></li>
                                <li><a href="http://codetroopers-team.com/gmsms/report/examresult">Exam Result Report</a></li>
                            </ul>
                        </li>


                    <li><a><i class="fa fa-image"></i>Media Gallery <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                                                            <li><a href="http://codetroopers-team.com/gmsms/gallery/index">Manage Gallery</a></li>

                                <li><a href="http://codetroopers-team.com/gmsms/gallery/image/index">Manage Gallery Image</a></li>
                                                   </ul>
                    </li>


                                        <li><a><i class="fa fa-desktop"></i>Frontend <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                                                        <li><a href="http://codetroopers-team.com/gmsms/frontend/index"> Manage Page</a></li>
                                                                                        <li><a href="http://codetroopers-team.com/gmsms/frontend/slider/index"> Manage Slider</a></li>

                                                            <li><a href="http://codetroopers-team.com/gmsms/frontend/about/index"> Frontend About</a></li>

                        </ul>
                    </li>

                    <li><a><i class="fa fa-lock"></i>Profile <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="http://codetroopers-team.com/gmsms/profile">My Profile</a></li>
                            <li><a href="http://codetroopers-team.com/gmsms/profile/password">Reset Password</a></li>


                            <li><a href="http://codetroopers-team.com/gmsms/auth/logout">Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
                <!-- top navigation -->
                 <div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="col-md-1">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="col-md-7 ">
                <div class="school-name">
                                             Global Multi School Management System Express                                    </div>
            </div>
            <div class="col-md-4">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                                <img src="http://codetroopers-team.com/gmsms/assets/uploads//employee-photo/photo-1567887468-sms.jpg" alt="" width="60" />

                            Super Admin                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="http://codetroopers-team.com/gmsms/profile/index"> Profile</a></li>
                            <li><a href="http://codetroopers-team.com/gmsms/profile/password">Reset Password</a></li>
                            <li><a href="http://codetroopers-team.com/gmsms/auth/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>


                                            <li>

                                <a href="http://codetroopers-team.com/gmsms/"><i class="fa fa-globe"></i> Web</a>

                        </li>

                     <li><a href="https://codecanyon.net/item/global-multi-school-management-system-express/21975378" target="_blank" style="background: red;border-radius: 50%;font-weight: bold;">Buy Now</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
                <!-- /top navigation -->

                <div class="right_col" role="main" >
                    <style type="text/css">
    .remove{
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        float: right;
    }
    #message_div{
        padding: 10px 10px 10px 10px;
        margin-bottom: 10px;
    }
</style>


<script type="text/javascript">
    $(function () {
        $('#message_div').delay(10000).fadeOut();
        $('.remove').click(function () {
           $('#message_div').hide();
        });
    });
</script>                    <!-- page content -->
                    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3 class="head-title"><i class="fa fa-bar-chart"></i><small> Income Report</small></h3>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content quick-link no-print">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <span style="padding-top: 8px;">Select Report:</span>
            <select  class="form-control" name="report" id="report" onchange="get_report_action(this.value);">
                                        <option value="">--Select--</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/income" selected="selected">Income Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/expenditure" >Expenditure Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/invoice" >Invoice Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/duefee" >Due Fee Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/feecollection" >Fee Collection Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/balance" >Accounting Balance Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/library" >Library Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/sattendance" >Student Attendance Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/syattendance" >Student Yearly Attendance Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/tattendance" >Teacher Attendance Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/tyattendance" >Teacher Yearly Attendance Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/eattendance" >Employee Attendance Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/eyattendance" >Employee Yearly Attendance Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/student" >Student Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/sinvoice" >Student Invoice Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/sactivity" >Student Activity Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/payroll" >Payroll Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/transaction" >Daily Transaction Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/statement" >Daily Statement Report</option>
                                        <option value="http://codetroopers-team.com/gmsms/report/examresult" >Exam Result Report</option>
                                    </select>
        </div>
    </div>
</div>

<script src="http://codetroopers-team.com/gmsms/assets/vendors/chart/js/highcharts.js"></script>
<script src="http://codetroopers-team.com/gmsms/assets/vendors/chart/js/highcharts-3d.js"></script>
<script src="http://codetroopers-team.com/gmsms/assets/vendors/chart/js/modules/exporting.js"></script>

<script type="text/javascript">
    function get_report_action(url){
       if(url){
           window.location.href = url;
       }
    }
</script>



             <div class="x_content filter-box no-print">
                <form action="http://codetroopers-team.com/gmsms/report/income" name="income" id="income" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-12">

                     <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="item form-group">
        <div>School <span class="required"> *</span></div>
        <select  class="form-control col-md-7 col-xs-12 fn_school_id" name="school_id" id="school_id" required="required">
            <option value="">--Select--</option>
                            <option value="1" >Windsor Park High School</option>
                            <option value="2" >The British Standard School</option>
                            <option value="3" >Ideal Stevenson High School</option>
                            <option value="4" >Scholastica Ideal School</option>
                            <option value="7" >ABC School</option>
                    </select>
    </div>
</div>


                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="item form-group">
                            Academic Year                            <select  class="form-control col-md-7 col-xs-12" name="academic_year_id" id="academic_year_id">
                                <option value="">--Select--</option>
                                                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="item form-group">
                            Group by Data <span class="required">*</span>
                            <select  class="form-control col-md-7 col-xs-12" name="group_by" id="group_by" required="required">
                                <option value="">--Select--</option>
                                                                                                <option value="daily" >Daily</option>
                                                                <option value="monthly" >Monthly</option>
                                                                <option value="yearly" >Yearly</option>
                                                                <option value="income_head" >Income Head</option>
                                <option value="income_by" >Income Method</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="item form-group">
                            From Date                            <input  class="form-control col-md-7 col-xs-12"  name="date_from"  id="date_from" value="" placeholder="From Date" type="text">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="item form-group">
                            To Date                            <input  class="form-control col-md-7 col-xs-12"  name="date_to"  id="date_to" value="" placeholder="To Date" type="text">
                        </div>
                    </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group"><br/>
                            <button id="send" type="submit" class="btn btn-success">Find</button>
                        </div>
                    </div>
                </div>
                </form>            </div>

            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">


                    <ul  class="nav nav-tabs bordered no-print">
                        <li class=""><a href="#tab_tabular"   role="tab" data-toggle="tab"   aria-expanded="true"><i class="fa fa-list-ol"></i> Tabular Report</a> </li>
                        <li  class="active"><a href="#tab_graphical"   role="tab" data-toggle="tab"  aria-expanded="false"><i class="fa fa-line-chart"></i> Graphical Report</a> </li>
                    </ul>
                    <br/>

                    <div class="tab-content">
                        <div  class="tab-pane fade in" id="tab_tabular" >
                            <div class="x_content">
                            <table id="datatable-keytable" class="datatable-responsive table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>#SL</th>
                                        <th>Academic Year</th>
                                        <th>Group by Data</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                                                            <tr><td class="text-center" colspan="5">No available data found </td></tr>
                                                                    </tbody>
                            </table>
                            </div>
                        </div>
                        <div  class="tab-pane fade in active" id="tab_graphical" >
                            <div class="x_content">
                                                                <p class="text-center">No available data found </p>
                                                             </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row no-print">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-default " onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                </div>
            </div>


        </div>
    </div>
</div>
<link href="http://codetroopers-team.com/gmsms/assets/vendors/datepicker/datepicker.css" rel="stylesheet">
 <script src="http://codetroopers-team.com/gmsms/assets/vendors/datepicker/datepicker.js"></script>
 <script type="text/javascript">

    $('#date_from').datepicker();
    $('#date_to').datepicker();
    $("#income").validate();

     $("document").ready(function() {
             });

     $('.fn_school_id').on('change', function(){

        var school_id = $(this).val();
        var academic_year_id = '';



        if(!school_id){
           toastr.error('Select School');
           return false;
        }

        get_academic_year_by_school(school_id, academic_year_id);

     });

    function get_academic_year_by_school(school_id, academic_year_id){

        $.ajax({
            type   : "POST",
            url    : "http://codetroopers-team.com/gmsms/ajax/get_academic_year_by_school",
            data   : { school_id:school_id, academic_year_id :academic_year_id},
            async  : false,
            success: function(response){
               if(response)
               {
                    $('#academic_year_id').html(response);
               }
            }
        });
   }

</script>
                    <!-- /page content -->
                </div>
                <!-- footer content -->
                <footer class="footer no-print">
    <div class="pull-right">
        <p class="white">
                             Copyright Â© Global - Multi School Management System Express at 2019
                     </p>
    </div>
    <div class="clearfix"></div>
</footer>
                <!-- /footer content -->
            </div>
        </div>

        <!-- Bootstrap -->
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/bootstrap/bootstrap.min.js"></script>

        <!--   Start   -->
        <link href="http://codetroopers-team.com/gmsms/assets/vendors/datatables/rowReorder/rowReorder.dataTables.min.css" rel="stylesheet">
        <link href="http://codetroopers-team.com/gmsms/assets/vendors/datatables/rowReorder/responsive.dataTables.min.css" rel="stylesheet">

        <link href="http://codetroopers-team.com/gmsms/assets/vendors/datatables/buttons.dataTables.min.css" rel="stylesheet">
        <link href="http://codetroopers-team.com/gmsms/assets/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet">
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/tools/jquery.dataTables.min.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/tools/dataTables.buttons.min.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/tools/pdfmake.min.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/tools/jszip.min.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/tools/vfs_fonts.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/tools/buttons.html5.min.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/dataTables.bootstrap.js"></script>

        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/rowReorder/dataTables.rowReorder.min.js"></script>
        <script src="http://codetroopers-team.com/gmsms/assets/vendors/datatables/rowReorder/dataTables.responsive.min.js"></script>

       <!-- dataTable with buttons end -->
        <link href="http://codetroopers-team.com/gmsms/assets/vendors/toastr/toastr.min.css" rel="stylesheet">
       <!-- Custom Theme Scripts -->

       <script src="http://codetroopers-team.com/gmsms/assets/js/custom.js"></script>

       <script type="text/javascript">

       jQuery.extend(jQuery.validator.messages, {
                required: "This field is required.",
                email: "Please enter a valid email address.",
                url: "Please enter a valid URL.",
                date: "Please enter a valid date.",
                number: "Please enter a valid number.",
                digits: "Please enter only digits.",
                equalTo: "Please enter the same value again.",
                remote: "Please fix this field.",
                dateISO: "Please enter a valid date (ISO).",
                maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
                minlength: jQuery.validator.format("Please enter at least {0} characters."),
                rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
                 range: jQuery.validator.format("Please enter a value between {0} and {1}."),
                max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
                min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
            });

            toastr.options = {
                "closeButton": true,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "showDuration": "300",
                "hideDuration": "300",
                "timeOut": "3000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              }


        $(window).on('load', function() {
            $('#preloader').fadeOut('slow', function() { $(this).remove(); });
        });

       </script>

</body>
</html>
