{% extends 'home/base.html' %}
{% load static humanize %}
<body>

{% block content %}
    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Search Route</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href='javascript:void(0);'>Routes</a></li>
            </ul>
        </div>
    </section>

    <section class="apply-now-area">
        <div class="container">
            <div class="apply-now">
                <div class="row">
                    <div class="offset-1 col-md-9 col-sm-8 col-12">
                        <form method="POST" action="" enctype="multipart/form-data" name="search"
                              class="form-group form-horizontal"
                              onsubmit="return validateForm()">
                            {% csrf_token %}

                            <div class="form-group item">
                                <div class="form-group item form-group">
                                    <label class="form-group-label text-muted" for="checkin">Enter a Destination, Pickup,
                                        or Via Point:</label>
                                    <input class="form-control" type="text" name="searchterm" id="checkin"
                                           placeholder="Search..">
                                </div>
                            </div>

                            <br/>
                            <div class="text-center col-md-3 col-sm-4 col-12">
                                <button href="#" type="submit"
                                        class="text-center link glbscl-link-btn hvr-bs"
                                        style="color: #007bff !important;">Search
                                    Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
</body>
