{% extends 'home/base.html' %}
{% load static humanize %}
<body>

{% block content %}
    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Confirm Booking</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href='javascript:void(0);'>Summary</a></li>
            </ul>
        </div>
    </section>

    <section class="page-event-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                    <div class="single-event">
                        <div class="img">
                            {% if taxi.image %}
                                <img src="{{ taxi.image.url }}" alt="">
                            {% endif %}
                        </div>

                        <div class="content">
                            <h2 class="title">Special Hire for Taxi {{ taxi.number }}</h2>
                            <div class="more text-center">
                                Your summary is as follows;
                            </div>
                            <ul class="list">
                                <li class="info"><span class="icon"><i
                                        class="fa fa-user"></i></span>{{ taxi.driver }} (Taxi Driver)
                                </li>
                                <li class="info"><span class="icon"><i
                                        class="fa fa-phone"></i></span>{{ taxi.driver.contact }} (Driver Contact)
                                </li>
                                <li class="info"><span class="icon"><i
                                        class="fa fa-cab"></i></span>{{ taxi.taxi_type }} (Taxi Type)
                                </li>
                                <li class="info"><span class="icon"><i
                                        class="fa fa-sort-numeric-asc"></i></span>{{ taxi.total_seats }} (Taxi Capacity)
                                </li>
                                <li class="info"><span class="icon"><i
                                        class="fa fa-dollar"></i></span>{{ taxi.fare_ratio|intcomma }} (Taxi Fare Ratio)
                                </li>

                            </ul>
                            <br>
                            <div class="row justify-content-center">
                                <form method="POST"
                                      action="{% url 'reserve_taxi_slot' taxi.pk %}">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="first">Traveller First Name:</label>
                                            <input class="form-control pull-left" name="firstname" id="first"
                                                   type="text"
                                                   required="First Name"/>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="first">Traveller Last Name:</label>
                                            <input class="form-control pull-right" name="lastname" id="last" type="text"
                                                   required="Last Name"/>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="travel_date">Travel Date:</label>
                                            <input class="form-control pull-left" name="travel_date" id="travel_date"
                                                   type="text"
                                                   required="Travel Date"/>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="travel_time">Travel Time:</label>
                                            <input class="form-control pull-right" name="travel_time" id="travel_time"
                                                   type="text" required="Travel Time"/>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="more text-center">
                                        <button type="submit" href="#"
                                                class="link glbscl-link-btn hvr-bs btn btn-success">Confirm Booking
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
</body>

