{% for accommodation in accommodations %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ accommodation.name }}</td>
        <td>{{ accommodation.code }}</td>
        <td>{{ accommodation.lowest_charge }}</td>
        <td>{{ accommodation.address }}</td>
        <td>{{ accommodation.phone }}</td>
        <td>
            {% if accommodation.image %}
                <img src="{{ accommodation.image.url }}"
                     alt="" width="80"/>
            {% endif %}
        </td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-view-accommodation"
                    data-url="{% url 'accommodation_view' accommodation.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span> View
            </button>
            <a href="{% url 'accommodation_update' accommodation.pk %}" class="btn btn-info btn-sm">
                <span class="fa fa-pencil-square-o"></span> Edit</a>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-accommodation"
                    data-url="{% url 'accommodation_delete' accommodation.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="10" class="text-center bg-warning">No Accommodation</td>
    </tr>
{% endfor %}
