<form method="post" action="{% url 'accommodation_view' form.instance.pk %}" class="js-accommodation-view-form"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-lg " tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Accommodation Information</h4>
            </div>
            <div class="modal-body">

                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                             aria-labelledby="basic-tab">
                            <p></p>
                            <table id="tablePreview" class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th>Accommodation Title</th>
                                    <td>{{ form.instance.name }}</td>
                                </tr>
                                <tr>
                                    <th>Accommodation Code</th>
                                    <td>{{ form.instance.code }}</td>
                                </tr>
                                <tr>
                                    <th>Accommodation Place</th>
                                    <td>{{ form.instance.address }}</td>
                                </tr>
                                <tr>
                                    <th>Image</th>
                                    <td>
                                        {% if form.instance.image %}
                                            <img src="{{ form.instance.image.url }}"
                                                 alt="" width="80"/>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Starting Fee</th>
                                    <td>{{ form.instance.lowest_charge }}</td>
                                </tr>
                                <tr>
                                    <th>Note</th>
                                    <td>{{ form.instance.note }}</td>
                                </tr>
                                <tr>
                                    <th>Is View on Web ?</th>
                                    <td>{{ form.instance.Is_View_on_Web }}</td>
                                </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>
