{% extends "app/base_site.html" %}

{% block title %} Event {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/events.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3 class="head-title"><i class="fa fa-globe"></i><small> Manage Trip</small>
                        </h3>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation" class="active"><a href="{% url 'event_list' %}"><i
                                        class="fa fa-list-ol"></i> Trip List</a>
                                </li>
                                <li role="presentation"><a href="{% url 'event_create' %}"><i
                                        class="fa fa-plus-square-o"></i> Add Trip</a>
                                </li>
                            </ul>
                            <br/>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_event_list">
                                    <div class="x_content">

                                        <table id="event-table"
                                               class="table table-striped table-bordered dt-responsive nowrap"
                                               cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Trip Title</th>
                                                <th>Trip For</th>
                                                <th>Trip Place</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>Image</th>
                                                <th>Is View on Web ?</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% include 'events/includes/partial_event_list.html' %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>


                                <!-- THE MODAL WE WILL BE USING -->
                                <div class="modal fade" id="modal-event" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#event-table').DataTable({
                    dom: 'Bfrtip',
                    iDisplayLength: 15,
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'pageLength'
                    ],
                    search: true,
                    responsive: true
                });
            });

        </script>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}

