{% extends 'home/base.html' %}
{% load static humanize %}

<body>

{% block content %}

    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Trip Detail</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="{% url 'event_wall' %}">Trips</a></li>
                <li><a href="javascript:void(0);">Trip Detail</a></li>
            </ul>
        </div>
    </section>

    <section class="page-event-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="page-event-details">
                        <div class="banner">
                            {% if event.image %}
                                <img src="{{ event.image.url }}"
                                     alt="">
                            {% endif %}
                        </div>
                        <h2 class="title">{{ event.event_title }}</h2>
                        <ul class="event-meta">
                            <li class="info"><span class="icon"><i class="fa fa-user"></i></span> {{ event.event_for }}
                                (Event for)
                            </li>
                            <li class="info"><span class="icon"><i
                                    class="fa fa-calendar"></i></span> {{ event.from_date }}
                                (Start Date)
                            </li>
                            <li class="info"><span class="icon"><i
                                    class="fa fa-calendar"></i></span> {{ event.to_date }}
                                (End Date)
                            </li>
                            <li class="info"><span class="icon"><i
                                    class="fa fa-map-marker"></i></span> {{ event.event_place }}
                            </li>
                            <li class="info"><span class="icon"><i
                                    class="fa fa-dollar"></i></span> {{ event.price|intcomma }}
                            </li>
                        </ul>
                        <br>

                        <h2 class="info-title">Trip Information :</h2>
                        <div class="text">{{ event.note }}</div>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
                    <div class="sidebar">
                        <div class="sidebar-widget">
                            <h2 class="sidebar-title">Other upcoming Trips</h2>
                            <ul class="widget-event">
                                {% for event in more_events %}
                                    <li>
                                        {% if event.image %}
                                            <a href="{{ event.get_absolute_url }}">
                                            <span class="img">
                                          <img src="{{ event.image.url }}" alt="">
                                        </span>
                                        {% endif %}

                                        <span class="content">
                                            <span class="title">{{ event.event_title }}</span>
                                            <span class="event-meta">
                                                <span class="info"><span class="icon"><i
                                                        class="fa fa-user"></i></span> {{ event.event_for }} (Trip for)</span>
                                                <span class="info"><span class="icon"><i
                                                        class="fa fa-calendar"></i></span> {{ event.from_date }} (Start Date)</span>
                                                <span class="info"><span class="icon"><i
                                                        class="fa fa-calendar"></i></span> {{ event.to_date }} (End Date)</span>
                                                <span class="info"><span class="icon"><i
                                                        class="fa fa-map-marker"></i></span> {{ event.event_place }}</span>
                                                 <span class="info"><span class="icon"><i
                                                         class="fa fa-dollar"></i></span> {{ event.price|intcomma }}</span>
                                            </span>
                                        </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

</body>
