<form method="post" action="{% url 'cab_view' form.instance.pk %}" class="js-cab-view-form"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-lg " tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Cab Information</h4>
            </div>
            <div class="modal-body">

                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                             aria-labelledby="basic-tab">
                            <p></p>
                            <table id="tablePreview" class="table table-bordered table-scabed">
                                <tbody>
                                <tr>
                                    <th>Cab Number</th>
                                    <td>{{ form.instance.number }}</td>
                                </tr>
                                <tr>
                                    <th>Cab Type</th>
                                    <td>{{ form.instance.taxi_type }}</td>
                                </tr>
                                <tr>
                                    <th>Total Seats</th>
                                    <td>{{ form.instance.total_seats }}</td>
                                </tr>
                                <tr>
                                    <th>Cab Image</th>
                                    <td>
                                        {% if form.instance.image %}
                                            <img src="{{ form.instance.image.url }}"
                                                 alt="" width="80"/>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Cab Driver</th>
                                    <td>{{ form.instance.driver }}</td>
                                </tr>
                                <tr>
                                    <th>Fare Ratio (Per KM)</th>
                                    <td>{{ form.instance.fare_ratio }}</td>
                                </tr>

                                <tr>
                                    <th>Cab Info</th>
                                    <td>{{ form.instance.taxi_info }}</td>
                                </tr>
                                <tr>
                                    <th>Is View on Web ?</th>
                                    <td>{{ form.instance.Is_View_on_Web }}</td>
                                </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>
